/* 
    Document   : style
    Created on : 28 nov. 2012, 16:06:50
    Author     : Markus
    Description:
        Purpose of the stylesheet follows.
*/

/* fichier css */
    
    h1 {
    text-align: center;
    color: blue;
}


